.feed {
  padding: 0 10px;
  height: 100vh;
  flex-basis: max-content;
  flex-shrink: 1000;
  flex-grow: 1000;
  width: 100%;

  &__empty-message {
    width: 100%;
    text-align: center;
  }

  &__message-action {
    color: var(--accent);
  }
}
