<section class="feed {{#if chat}}flex-vertical-left{{else}}flex-centered{{/if}}">
  {{#if chat}}
    {{{FeedTitle}}}
    {{{ChatMessagesList inputs=inputs}}}
  {{else}}
      <p class="feed__empty-message text text_size_m text_weight_regular">
        Выберите чат, чтобы отправить сообщение, или
        {{#Clickable onClick=handleNewChatClick}}
          <span class="feed__message-action text text_size_m text_weight_regular">
            создайте новый
          </span>
        {{/Clickable}}
      </p>
  {{/if}}
</section>
