.feed {
  padding: 0 10px;
  height: 100vh;
  flex: 1000 1000 100%;
  width: 100%;

  &__empty-message {
    width: 100%;
    text-align: center;
  }

  &__message-action {
    color: var(--accent);
  }
}
