<section class="profile-edit flex-vertical-left">
  <h1 class="profile-edit__title text text_size_m text_weight_bold">
    {{user.display_name}}  
  </h1>
  <img class="profile-edit__avatar" width="300" height="300" src={{user.avatar}} alt="Аватар пользователя {{user.display_name}}." />

  
      {{#with editPasswordForm }}
        {{> form/form/form}}
      {{/with}}

</section>
