<section class="profile-edit flex-vertical-left">
  <h1 class="profile-edit__title text text_size_m text_weight_bold">
    {{user.display_name}}  
  </h1>

  <label class="profile-edit__avatar-label" for="avatar-input" style="width: 100px; height: 100px;">
    <div class="profile-edit__avatar-thumb"></div>
    <div class="profile-edit__avatar-edit-icon icon icon_large">{{> icons/avatar-edit}}</div>
  </label>
  {{#with avatarInput}}
    {{> form/input/input}}
  {{/with}}
  {{#with editPersonalDataForm }}
    {{> form/form/form}}
  {{/with}}
</section>
