.profile-edit {
  width: 100%;
  gap: 10px;

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }

  &__avatar {
    width: 100%;
    height: auto;
  }
  &__data-wrap {
    gap: 10px;
  }
  &__data-label {
    color: $dark-gray;
  }
  &__data {
    color: $black;
  }
  &__link {
    width: 100%;
  }
}