.button {
  height: 30px;
  width: 100%;
  background-color: var(--accent);
  color: var(--black);
  border-radius: 4px;
  margin-top: 4px;
  border: none;
  &_narrow {
    height: 24px;
  }

  &:focus {
    box-shadow: 1px 1px 4px var(--accent);
  }
  &:hover {
    box-shadow: 1px 1px 4px var(--accent);
    cursor: pointer;
  }
}
