{{#Layout class="flex-centered gap_size_l"}}
  {{#Modal}}
    <h1 class="text text_size_l text_weight_bold text_centered m_s">
      {{title}}
    </h1>
    <nav>
      <ul class="flex-centered gap_size_m">
        {{#each links}}
          <li class="flex-centered w_l00">
            <p class="text text_size_xs text_weight_regular text_centered">
              {{labelText}}
            </p>
            {{#Link to=pageUrl}}
              {{{Button text=text}}}
            {{/Link}}
          </li>
        {{/each}}
      </ul>
    </nav>
    {{#Link text="new Link to nowhere" to="/nowhere" }}wreo;efdnl{{/Link}}
  {{/Modal}}
{{/Layout}}
