<form 
  class="form"
  action=""
  name=""
    >
    <fieldset class="form__fieldset text text_size_m text_weight_regular">
    <legend class="form__legend">
      {{formTitle}}
    </legend>
      {{#each inputs}}
        {{#with this}}
        {{{ InputField 
          labelText=labelText
          type=this.type
          required=required
          placeholder=placeholder
          value=value
          errorMessage=errorMessage
          onChange=onChange
          error=error
          autocomplete=autocomplete
          accept=accept
          class=class
        }}}
        {{/with}}
      {{/each}}
    </fieldset>
</form>

