{{#Layout class="main_layout_feed"}}
  {{#Modal}}
    <div class="icon icon_small icon_fixed_topright" data-ref="closeIcon">
      {{{Icon type="close" onClick=handleCloseIconClick}}}
    </div>
    {{{ProfileContent}}}
  {{/Modal}}
{{/Layout}}
