.flex-vertical-left {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-centered {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flex-row-centered {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flex-row-spaced {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row;
  align-items: center;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-flow: row;
  align-items: center;
}

.gap_size_s {
  gap: 10px;
}

.gap_size_m {
  gap: 20px;
}

.gap_size_l {
  gap: 40px;
}

.m_s {
  margin: 10px;
}

.m_m {
  margin: 20px;
}

.m_l {
  margin: 40px;
}

.w_l00 {
  width: 100%;
}

.pl_s {
  padding-left: 10px;
}
.pr_s {
  padding-right: 10px;
}
.pb_s {
  padding-bottom: 10px;
}
.pt_s {
  padding-top: 10px;
}
