@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import './scss-vars.css';
@import './typography.css';
@import './boxes.css';
@import './pages.css';
@import '../partials/form/input/input.css';
@import '../partials/form/input-field/input-field.css';
@import '../partials/form/form/form.css';
@import '../partials/icons/icons.css';
@import '../partials/modal-partials/modal.css';
@import '../partials/modal-partials/dialog.css';
@import '../partials/side-menu/menu-message.css';
@import '../partials/side-menu/side-menu.css';
@import '../partials/feed/feed.css';
@import '../partials/feed/feed-message.css';
@import '../partials/profile-edit/profile-edit.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;

  &:focus {
    outline: none;
  }
}
ul, li {
  list-style: none;
  color: $accent;
}
a {
 text-decoration: none;
 color: inherit; 
}

#notifications {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
}