@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import './scss-vars.css';
@import './mixins.css';
@import '../partials/form-partials/input/input.css';
@import '../partials/form-partials/input-field/input-field.css';
@import '../partials/modal/modal.css';
@import '../partials/form-partials/form/form.css';
@import '../partials/icons/icons.css';
@import '../partials/modal/modal.css';
@import '../partials/modal/dialog.css';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
}
ul, li {
  list-style: none;
  color: $accent;
}
a {
 text-decoration: none;
 color: inherit; 
}

#notifications {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
}