.text-paragraph-thin {
  font: 300 18px /1.2 $font-family;
}
.text-paragraph-normal {
  font: 400 18px /1.2 $font-family;
}

.text-paragraph-title {
  font: 400 28px /1.2 $font-family;
}
.text-page-title {
  font: 700 40px /1.2 $font-family;
  margin-bottom: 40px;
}
.text-message-title {
  font: 700 16px /20px $font-family;
}
.text-error {
  font: 300 12px /20px $font-family;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-tag {
  font: 400 12px /12px $font-family;
}

.text-message {
  font: 400 10px /12px $font-family;
}
.text-time {
  font: 400 10px /12px $font-family;
  opacity: 50%;
}