.text {
  font-family: Montserrat, Open Sans, Arial, sans-serif;
}
.text_size_xs {
  font-size: 12px;
  line-height: 1.2;
}
.text_size_s {
  font-size: 14px;
  line-height: 1.2;
}
.text_size_m {
  font-size: 18px;
  line-height: 1.2;
}
.text_size_l {
  font-size: 28px;
  line-height: 1.2;
}

.text_weight_thin {
  font-weight: 300;
}
.text_weight_regular {
  font-weight: 400;
}
.text_weight_bold {
  font-weight: 700;
}

.text-link {
  color: var(--accent);
}
