$base-white: #f2f2f2;
$light-gray: #d9d9d9;
$light-gray-half-opacity: #d9d9d980;
$dark-gray: #434343;
$accent: #ff7a00;
$success: #00d27a;
$danger: #bf0000;
$black: #000;
$menu-gradient: linear-gradient(180deg, #434343 20%, black 100%);
$feed-gradient: linear-gradient(180deg, #9e9e9ed4, #4a4a4a);
$content-width: clamp(320px, 100%, 1440px);
$modal-content-width: clamp(320px, 100%, 360px);
$accent-shadow: 1px 1px 4px $accent;
