.chat-messages {
  height: calc(100vh);
  width: 100%;
  gap: 24px;
  padding: 4px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 2px;
  }
  

  &__list-item {
    width: 100%;

    &:last-child {
      margin-bottom: 200px;
    }
  }
}
