<div class="chat-messages flex-vertical-left">
    <ul class="chat-messages__messages flex-vertical-left">
      {{#each chatMessages as |message| }}
        <li class="chat-messages__list-item">
          {{{FeedMessage message=message }}}
        </li>
      {{/each}}
    </ul>
</div>
