<div class="chat-messages flex-vertical-left">
  {{#if chatMessages}}
    <ul class="chat-messages__messages flex-vertical-left">
      {{#each chatMessages.messages}}
        <li class="chat-messages__list-item">
          {{{FeedMessage user=user time=time content=content isFile=isFile url=url}}}
        </li>
      {{/each}}
    </ul>
    {{{NewMessage inputs=inputs}}}
  {{/if}}
</div>
