<div class="chat-messages flex-vertical-left">
  {{#if chatMessages}}
    <ul class="chat-messages__messages flex-vertical-left">
      {{#each chatMessages.messages}}
        <li class="chat-messages__list-item">
          {{{FeedMessage user=user time=time content=content isFile=isFile url=url}}}
        </li>
      {{/each}}
    </ul>
    {{{NewMessage inputs=inputs}}}
  {{else}}
    <div class="flex-centered text text_size_m text_weight_regular">Выберите чат, чтобы отправить сообщение, или 
      {{#Link to="/"}}
        <span class="link" href="#">создайте новый</span>
      {{/Link}}
    </div>
  {{/if}}
</div>
