.label {
  width: 100%;
  & > span {
    color: $black;
  }

  &__error {
    height: 20px;
    color: $danger;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_required > span:after {
    content: "*";
    color: $accent;
  }
}
