{{#extend "base"}}
  {{#content "head"}}
    {{> head-partials/page-title }}
  {{/content}}
  {{#content "main"}}
    {{#> modal-partials/modal}}
      <h1 class="text-page-title">{{pages.h1}}</h1>
      <nav>
        <ul>
          {{#each pages.links}}
            <li><a href={{pageUrl}}>
            {{> form-partials/input-field/input-field }}
            </a></li>
          {{/each}}
        </ul>
      </nav>
   
    {{/modal-partials/modal}}
  {{/content}}
{{/extend}}


