{{#extend "base"}}
  {{#content "head"}}
    {{> head-partials/page-title}}
  {{/content}}
    {{#content "main"}}
      <main class="main main_layout_feed">
        {{> side-menu/side-menu expanded=true}}
        {{> feed/feed}}
      </main>
    {{/content}}
{{/extend}}