<div class="modal modal__centered">
  <div class="modal__content">
      <div class="icon icon_small icon_fixed_topright" data-ref="closeIcon">
        {{{ Icon type='close' }}}
      </div>
    <div data-slot="1"></div>
  </div>
</div>
