<div class="form-addon text text_size_m text_weight_regular">
  <span>
    {{addon.text}}
  </span>
  <a class="text-link" href={{addon.link}}>
    <span>
      {{addon.linkText}}
    </span>
  </a>
</div>
