<div class="form-addon text text_size_m text_weight_regular">
  <span>
    {{addon.text}}
  </span>
  {{#Link to=addon.link }}
    <span class="text-link">
      {{addon.linkText}}
    </span>
  {{/Link}}
</div>
