<article class="feed-message 
{{#if isFile}}
  feed-message_hasFile
{{/if}}
{{#if isOwn}}feed-message_isOwn{{/if}}">


  {{#if isFile}}
    <img class="feed-message__image" src={{url}} alt="изображение" >
  {{else}}
    <div class="feed-message__text text text_size_s text_weight_regular ">
      {{ this.content }}    
    </div>
  {{/if}}

<time datetime="" class="feed-message__time text text_size_xs text_weight_regular ">{{time}}</time>

</article>
