.feed {
  width: 100%;
  padding: 0 10px;

  &__info-text {
    color: $base-white;
    width: clamp(200px, 70%, 640px);
    text-align: center;
    pointer-events: none;
    flex-basis: auto;
  }

  &__info-text-link {
    color: $accent;
    pointer-events: all;
  }

  &__title-wrap {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid $light-gray;
    display: flex;
    place-content: center space-around;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__title {
    width: 100%;
    flex-basis: auto;
    color: $base-white;
  }
  &__chat-settigs {
    width: 40px;
    height: 40px;
    & path {
      fill: $base-white;
    }
  }

  &__messages-feed {
    height: calc(100vh - 120px);
    width: 100%;
    gap: 24px;
    padding: 4px 4px 200px 4px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
      scrollbar-width: thin;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: $light-gray;
      border-radius: 2px;
    }
  }
  &__list-item {
    width: 100%;
  }

  &__new-message-wrap {
    height: 60px;
    width: 100%;
    position: relative;

    & input {
      padding: 0 40px;
      border: none;
      &:focus {
        box-shadow: $accent-shadow;
      }
    }
  }

  &__clip-icon {
    width: auto;
    max-height: 24px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  &__send-icon {
    width: auto;
    max-height: 24px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
