.feed-message {
  display: block;
  width: fit-content;
  max-width: 80%;
  background-color: $base-white;
  float: inline-start;
  border-radius: 0 20px 20px 20px;
  padding: 20px;
  position: relative;
  color: $black;
  
  &_isOwn {
    background-color: $light-gray;
    float: inline-end;
    border-radius: 20px 0 20px 20px;
  }
  &_hasFile {
    padding: 0;
    background-color: transparent;
  }
  &__time {
    color: $base-white;
    position: absolute;
    bottom: -16px;
    right: 0;
    opacity: 1;
  }
  &__image {
    max-width: 100%;
    object-fit: contain;
  }
}
