{{#Layout class="main_layout_feed"}}
    {{#Modal}}
      <section class="profile-edit-password flex-vertical-left">
        <h1 class="profile-edit-password__title text text_size_m text_weight_bold">
          {{user.first_name}}
        </h1>
        <img
          class="profile-edit-password__avatar"
          width="300"
          height="300"
          src={{user.avatar}}
          alt="Аватар пользователя {{user.display_name}}."
        />
        <div class="profile-edit-password__password">
          {{{Form inputs=inputs ref="formRef" formButton=formButton formName="editPassword"}}}
        <div>
      </section>
    {{/Modal}}
{{/Layout}}
