{{#Layout}}
    {{#Modal}}
      <div class="icon icon_small icon_fixed_topright" data-ref="closeIcon">
        {{{Icon type="close" onClick=handleCloseIconClick }}}
      </div>
    {{{ProfileEditPassword inputs=inputs formButton=formButton formName=formName}}}
    {{/Modal}}
{{/Layout}}
