.users-editable-list {
  max-height: 200px;
  width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 2px;
  }

  &__listItem {
    width: 100%;
    height: 50px;
    min-height: 50px;
    overflow-y: hidden;
  }

  &__article {
    position: relative;
    padding: 5px 10px 5px 0;
  }

  &__article[data-type="search"]:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    place-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--accent);
    background-color: var(--dark-gray-80-opacity);
    content: "Добавить";
    box-shadow: inset var(--base-white) 0 0 3px 0;
  }

  &__article[data-type="currentUsers"]:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    place-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--accent);
    background-color: var(--dark-gray-80-opacity);
    content: "Удалить";
  }

  &__article[data-role="admin"] {
    pointer-events: none;
  }

  &__text-block {
    text-align: end;
  }

  &__isAdmin-message {
    display: none;
  }

  &__isAdmin-message[data-role="admin"] {
    color: var(--accent) !important;
    display: inline;
  }
}
