<label class="label {{#if required}}label_required{{/if}} flex-vertical-left text-paragraph-thin">
  <span>
    {{labelText}}
  </span>
  {{> form-partials/input/input}}
    <div class="label__errors-wrapper">
    </div>
</label>
