<label class="label {{#if required}}label_required{{/if}} flex-vertical-left text-paragraph-thin">
  {{#if labelText}}
    <span>
      {{labelText}}
    </span>
  {{/if}}
  
  {{> form-partials/input/input}}
    <div class="label__error text-error">
  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}
    </div>
</label>
