.label {
  width: 100%;
    & > span {
    color: $black; 
  }
  
  &__error {
    height: 20px;
    color: $danger;
    overflow: hidden;
  }

  &_required > span:after {
    content: '*';
    color: $accent;
  }
}