@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import './styles/vars.css';
@import './styles/typography.css';
@import './styles/boxes.css';

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
  color: inherit;
}

*:focus {
  outline: none;
}

ul,
li {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
