<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alex Kurkov">
    <meta name="github login" content="alex-kurkov">
    <link rel="stylesheet" href="../styles/style.css" />

    {{#block "head"}}
    {{/block}}

  </head>
  <body>
      {{#block "main"}}
      {{/block}}
    <div id="notifications"></div>
  </body>
</html>