<div class="new-message flex-centered" >
  {{{Input 
    placeholder=messageInput.placeholder name=messageInput.name ref="text_input"
  }}}
  <div class="new-message__clip-icon icon icon_medium">{{{Icon onClick=handleFileAdd type="clip"}}}</div>
  <div class="new-message__send-icon icon icon_medium">{{{Icon onClick=handleSubmit type="send"}}}</div>
</div>

