<div class="new-message flex-centered">
  {{{Form inputs=inputs ref="formRef" formButton=false}}}
  <div class="new-message__clip-icon icon icon_medium">{{{Icon ref="addFile" type="clip"}}}</div>
  <div class="new-message__send-icon icon icon_medium">{{{Icon ref="submitButton" type="send"}}}</div>
</div>

